npm-debug.log*
node_modules
.DS_Store
.*.sw[op]
*.mp4
*.mov
bundle.js
bundle.js.map
report/
.tern-project
resultlog.txt
.npmrc
README.html
coverage
yarn-error*
isolate-*
lib
test
rollup.config.js
yarn.lock
.travis.yml